
header {
    position: relative;
}

header img {
    width: 100%;
    display: block;
}

nav {
    background-color: #858282ed;
    color: #fff;
    padding: 10px 20px; 
    position: relative;
    width: 100%; 
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


.main-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main-left {
    width: 70%;
    margin-right: 20px; 
}

.main-right {
    width: 30%;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.news, .messages {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.main-left h2, .news h2, .messages h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: green; 
}

.news p, .messages p {
    margin-bottom: 10px;
}


footer {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 30px 0;
   
    bottom: 0;
    width: 100%;
}

.product {
    display: flex;
    margin-bottom: 20px;
}

.product img {
    width: 100px; 
    height: auto;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 0;
}